.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  z-index: 2;

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.10;
    overflow: hidden;

    &-content {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  .section-header,
  .section-text {
    z-index: 2;
  }

}