.nav {
  font-size: 2.2rem;
  height: 7rem;
  width: 100%;
  transition: 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.05);
  }

  &__list {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  &__list-item {}

  &__link {
    padding: 1rem 2rem;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
  }

}