.skills.section__block {
  padding: 10rem;
}

.skills {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__tiles-row {
    margin-top: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }

  &__tile {
    // Temp
    border: 1px solid var(--color-gray);

    &-image {
      display: block;
      width: 100%;
      height: 15rem;
      background-color: var(--color-secondary);
    }

    &-subheader {
      margin: 1rem 0;
      text-align: center;
    }

    &-list {
      padding: 0;
      margin-bottom: 1rem;

      &-item {
        font-size: 2.2rem;
        line-height: 1.5;
        text-align: center;

        &-pointer {
          color: var(--color-primary-light-1);
          font-size: 1.5rem;
          vertical-align: middle;
          margin-right: 1rem;
        }

        &-lead {
          font-size: 1.6rem;
        }
      }

    }
  }
}