// Colours
:root {
  --color-black: #101010;
  --color-white: #efefef;

  --color-gray-dark-2: #222;
  --color-gray-dark-1: #444;
  --color-gray: #787878;
  --color-gray-light-1: #aaa;
  --color-gray-light-2: #ccc;

  --color-primary-dark-2: #0b1322;
  --color-primary-dark-1: #182848;
  --color-primary: #253d6e;
  --color-primary-light-1: #315294;
  --color-primary-light-2: #3e68bb;

  --color-secondary-dark: #319573;
  --color-secondary: #3ebb91;
  --color-secondary-light: #61cba7;







}